@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
}

.lds-dual-ring div {
    box-sizing: border-box;
}

.lds-dual-ring > div {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 13px;
    left: 13px;
    border-radius: 50%;
    border: 14px solid #000;
    border-color: #0288d1 transparent #0288d1 transparent;
    -webkit-animation: lds-dual-ring 5s linear infinite;
    animation: lds-dual-ring 5s linear infinite;
}

.lds-dual-ring > div:nth-child(2) {
    border-color: transparent;
}

.lds-dual-ring > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lds-dual-ring > div:nth-child(2) div:before,
.lds-dual-ring > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -14px;
    left: 66px;
    background: #0288d1;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #0288d1;
}

.lds-dual-ring > div:nth-child(2) div:after {
    left: -14px;
    top: 66px;
    box-shadow: 160px 0 0 0 #0288d1;
}

.lds-dual-ring {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}

canvas.qrcode {
    border: 1.2rem white solid;
    border-radius: 1rem;
}